<input #taskInput />

<button (click)="addTask(taskInput)">Add task</button>

<ul>
  @for (task of tasks(); track task.id) {
    <li>
      @if (!task.completed) {
        <span>{{ task.title }}</span>
      } @else {
        <s>{{ task.title }}</s>
      }
      <button (click)="toggleTask(task.id)">{{ !task.completed ? 'Done' : 'Undone' }}</button>
      <button (click)="removeTask(task.id)">Remove</button>
    </li>
  }
</ul>

<p>Progress: {{ progress() }}%</p>

<progress [value]="progress()" max="100"></progress>
