<input [(ngModel)]="taskName" #taskInput />

<button [disabled]="isTaskNameEmpty()" (click)="addTask()">Add task</button>

<app-task-filter [(filter)]="currentFilter" />

@if (hasTasks()) {
  <ul>
    @for (task of filteredTasks(); track task.id) {
      <li>
        <app-task-item
          [task]="task"
          (toggleTask)="taskStore.toggleTask($event)"
          (removeTask)="taskStore.removeTask($event)"
        />
      </li>
    }
  </ul>
} @else {
  <p>"Нет задач"</p>
}

<button (click)="showStats.set(!showStats())">Показать статистику</button>

@if (showStats()) {
  <app-task-stats />
}
